/* IMPORTS */
/* Logo text font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --nav-color: rgba(10, 90, 255, 1);
    --nav-color-alpha: rgba(10, 90, 255, 0.3);
    --nav-font-size: 30px;
    --nav-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);

    --header-dark-color: rgba(3, 36, 53, 1);
    --header-dark-color-alpha: rgba(3, 36, 53, 0.9);
    --header-linear-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(3, 36, 53, 0.3) 50%, rgba(3, 36, 53, 1) 100%), url('./images/blue-forest-minimal.jpg') no-repeat;

    --bio-linear-gradient: linear-gradient(to bottom, #032435, #053043, #073c52, #094a60, #0b576f);

    --work-linear-gradient: linear-gradient(to bottom, #0b576f, #095b72, #076075, #076478, #08697a);

    --contact-linear-gradient: linear-gradient(to bottom, #08697a, #056b79, #046d78, #066f77, #0b7175);

    --ds-font: 'Dancing Script', 'cursive';
}

html {
    scroll-behavior: smooth;
}

/* SELECTORS */
/* Direct */
nav {
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    box-shadow: var(--nav-box-shadow);
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: 200px;
}

nav ul li {
    padding: 20px;
    margin: 5px;
    border: 5px;
    font-family: var(--ds-font);
    font-weight: bold;
    font-size: var(--nav-font-size);
}

nav ul li a {
    color: white;
}

a {
    text-decoration: none;
}

header {
    height: 100vh;
    width: 100%;
    background: var(--header-linear-gradient);
    background-position: center;
    background-size: cover;
}

section > h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    padding: 15px;
}

footer {
    background-color: var(--nav-color);
    text-align: center;
    font-size: var(--nav-font-size);
    font-family: var(--ds-font);
    color: white;
    padding: 10px;
}

/* Classes */
.logo {
    margin-top: 9px;
    margin-left: 10px;
}

.logo-text {
    font-family: var(--ds-font);
    font-weight: bold;
    font-size: var(--nav-font-size);
    color: white;
}
/* ----------------------------------------------------------------- */
/* ------------------------------------------------------- */
/* IDs */
#bio {
    height: 100vh;
    width: 100%;
    background-image: var(--bio-linear-gradient);
}

#bio > h1 {
    padding-top: 200px;
}

#work {
    height: 100vh;
    width: 100%;
    background-image: var(--work-linear-gradient);
}

#work > h1 {
    padding-top: 200px;
}

/* CARD CONTAINER: Specifies template for grid which determines how cards will be laid out; Specifies gaps in between the cards and makes cards adjacent to one another 50% of the size of the 100% big card (thumb-1) */
#card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "thumb-1 thumb-1"
        "thumb-2 thumb-3"
        "thumb-4 thumb-5";
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
}

/* CARDS: Each card is assigned to a grid area in the template and has an image background that is centered and does not tile (could probably be done in less lines with JS?)*/
#card-1 {
    grid-area: thumb-1;
}

#card-2 {
    grid-area: thumb-2;
}

#card-3 {
    grid-area: thumb-3;
}

#card-4 {
    grid-area: thumb-4;
}

#card-5 {
    grid-area: thumb-5;
}

#contact {
    height: 100vh;
    width: 100%;
    background-image: var(--contact-linear-gradient);
}

#contact > h1 {
    padding-top: 200px;
}

#contact ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

#contact ul li {
    font-size: 50px;
}

#contact ul li {
    text-decoration: none;
    color: white;
}

#top-header-rect {
    position: absolute;
    width: 40vw;
    height: 500px;
    background-color: var(--nav-color-alpha);
    left: 47%;
    top: 55%;
    transform: translate(-50%, -50%);
}

#bottom-header-rect {
    position: absolute;
    width: 40vw;
    height: 500px;
    background-color: var(--header-dark-color-alpha);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header-text-box > h1 {
    padding-left: 30px;
    font-size: 90px;
    color: white;
}

#header-text-box > h2 {
    padding: 5px 0px 10px 80px;
    font-size: 60px;
    color: white;
}

#header-text-box > p {
    padding: 5px 0px 10px 80px;
    font-size: 60px;
    color: white;
}

#bio-rect {
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 500px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    align-items: center;
}

#bio-img {
    position: relative;
    width: 300px;
    height: auto;
    float: left;
    border: 5px solid var(--header-dark-color);
    align-self: center;
}

#bio-rect > p {
    float: left;
    font-size: 1.85rem;
    color: white;
    width: 400px;
    padding-left: 20px;
    height: 391px;
}

#work-rect {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 700px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    align-items: center;
}

#work-img {
    width: 700px;
    height: auto;
    align-self: center;
}

/* RESPONSIVENESS*/
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

.big-card { /* Dimension and border specifications for large card */
    width: 700px;
}

.small-card { /* Dimension and border specifications for small cards */
    width: 350px;
}

.card-content-1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/coinbased.PNG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-1:hover::before {
    cursor: pointer;
    filter: brightness(100%);
}

.card-content-1 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-1 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.card-content-2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/budget_tracker.PNG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-2:hover::before {
    cursor: pointer;
    filter: brightness(100%);
}

.card-content-2 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-2 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.card-content-3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/fanfiction.PNG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-3:hover::before {
    cursor: pointer;
    filter: brightness(100%);
}

.card-content-3 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-3 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.card-content-4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/employee-tracker.PNG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-4:hover::before {
    cursor: pointer;
    filter: brightness(100%);
}

.card-content-4 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-4 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.card-content-5::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/password_gen.PNG);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    transition: 0.3s;
}

.card-content-5:hover::before {
    cursor: pointer;
    filter: brightness(100%);
}

.card-content-5 { /* Card text in card container flexed and moved to cross axis end */
    position: relative;
    display: flex;
    align-items: flex-end;
}

.card-content-5 p { /* Specifies dimensions, font size, and background color for actual card text */
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}