/* IMPORTS */
/* Logo text font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* Nav menu font */
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

/* SELECTORS */
/* Direct */
nav {
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: rgba(10,90,255,1);
    display: flex;
    align-items: center;
    top: 0;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: auto;
}

nav ul li {
    padding: 20px;
    margin: 5px;
    border: 5px;
    font-family: 'Fondamento', cursive;
    font-weight: bold;
    font-size: 25px;
}

nav ul li a {
    color: white;
}

a {
    text-decoration: none;
}

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(3,36,53, 0.3) 50%, rgba(3,36,53,1) 100%), url('./images/blue-forest-minimal.jpg') no-repeat;
    /* background-image: url(./images/blue-forest-minimal.jpg); */
    background-position: center;
    background-size: cover;
}

section > h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    padding: 15px;
}

footer {
    background-color: rgba(10,90,255,1);
    text-align: center;
    font-size: 25px;
    font-family: 'Fondamento', 'cursive';
    color: white;
    padding: 10px;
}

/* Classes */
.logo {
    margin-top: 9px;
    margin-left: 10px;
}

.logo-text {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 25px;
    color: white;
}
/* ----------------------------------------------------------------- */
/* ------------------------------------------------------- */
/* IDs */
#bio {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #032435, #053043, #073c52, #094a60, #0b576f);
}

#work {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #0b576f, #095b72, #076075, #076478, #08697a);
}

#contact {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #08697a, #056b79, #046d78, #066f77, #0b7175);
}

#profile > img {
    
}

/* RESPONSIVENESS*/
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}