/* IMPORTS */
/* Logo text font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* Nav menu font */
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

:root {
    --nav-color: rgba(10, 90, 255, 1);
    --nav-color-alpha: rgba(10, 90, 255, 0.3);
    --nav-font-size: 30px;
    --nav-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);

    --header-dark-color: rgba(3, 36, 53, 1);
    --header-dark-color-alpha: rgba(3, 36, 53, 0.9);
    --header-linear-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(3, 36, 53, 0.3) 50%, rgba(3, 36, 53, 1) 100%), url('./images/blue-forest-minimal.jpg') no-repeat;

    --bio-linear-gradient: linear-gradient(to bottom, #032435, #053043, #073c52, #094a60, #0b576f);

    --work-linear-gradient: linear-gradient(to bottom, #0b576f, #095b72, #076075, #076478, #08697a);

    --contact-linear-gradient: linear-gradient(to bottom, #08697a, #056b79, #046d78, #066f77, #0b7175);

    --ds-font: 'Dancing Script', 'cursive'
}

/* SELECTORS */
/* Direct */
nav {
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    box-shadow: var(--nav-box-shadow);
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-left: 200px;
}

nav ul li {
    padding: 20px;
    margin: 5px;
    border: 5px;
    font-family: var(--ds-font);
    font-weight: bold;
    font-size: var(--nav-font-size);
}

nav ul li a {
    color: white;
}

a {
    text-decoration: none;
}

header {
    height: 100vh;
    width: 100%;
    background: var(--header-linear-gradient);
    background-position: center;
    background-size: cover;
}

section > h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    padding: 15px;
}

footer {
    background-color: var(--nav-color);
    text-align: center;
    font-size: var(--nav-font-size);
    font-family: var(--ds-font);
    color: white;
    padding: 10px;
}

/* Classes */
.logo {
    margin-top: 9px;
    margin-left: 10px;
}

.logo-text {
    font-family: var(--ds-font);
    font-weight: bold;
    font-size: var(--nav-font-size);
    color: white;
}
/* ----------------------------------------------------------------- */
/* ------------------------------------------------------- */
/* IDs */
#bio {
    height: 100vh;
    width: 100%;
    background-image: var(--bio-linear-gradient);
}

#work {
    height: 100vh;
    width: 100%;
    background-image: var(--work-linear-gradient);
}

#contact {
    height: 100vh;
    width: 100%;
    background-image: var(--contact-linear-gradient);
}

#top-header-rect {
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: var(--nav-color-alpha);
    left: 47%;
    top: 55%;
    transform: translate(-50%, -50%);
}

#bottom-header-rect {
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: var(--header-dark-color-alpha);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#bhr-h1 {
    position: absolute;
    font-size: 70px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* RESPONSIVENESS*/
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}